body {
    resize: both;
    max-width: 900px;
    margin-left: 22%;
    align-content: center;
    border-style: solid;
    border-color: coral;
}

h1 {
    margin-left: 50px;
    color: Highlight;
}

h2 {
    height: 30px;
    background-color: yellowgreen;
}
.h3{
    color:Highlight;
    font-weight:bolder;
    font-size:2em;
}
footer {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    vertical-align: middle;
    position: relative;
    background-color: yellowgreen;
    color: Highlight;
    top: 50%;
    text-align: center;
    font-size: 33px;
    font-weight: bolder;
}

.column {
    float: left;
    width: 30%;
}

.column_after {
    width: 70%;
    float: left;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.column_form {

    float: left;
    width: 28%;
}
.column_form3 {
    float: left;
    width: 50%;
}
.column_form4 {
    float: left;
    width: 20%;
}
.column_form_after {
    width: 60%;
    float: left;
}

.row_form:after {
    content:"";
    display: block;
    clear: both;
}

.title_card {
    color: white;
    background-color: yellowgreen;
    width: 100%;
}

.DropDownList {
    width: 180px;
}

.TextBox {
    width: 350px;
}

.TextBox1 {
    width: 60px;
}

.TextBox2 {
    width: 160px;
}

.form {
    width:560px;
    background-color: #f0bb75;
}
.para_height{
   padding-bottom:0.08em;
   padding-top:0.1em;
}
.Displaypicture{
    height:220px;
    width:180px;
}
.visa_image{
    vertical-align:bottom;
    width:30px;
    height:30px;
}

