
@{
    ViewBag.Title = "Error_404";

}
@model System.Web.Mvc.HandleErrorInfo
<link href="~/Models/Content/Site.css" rel="stylesheet" />
    <h2>
        OOPS! 
    </h2>
    <div align="center" class="Error">Please contact the Admin or please Reenter the correct URL</div>


