
@{
    ViewBag.Title = "ErrorAction";
   
}
@model System.Web.Mvc.HandleErrorInfo
<link href="~/Models/Content/Site.css" rel="stylesheet" />
    <h2 align="center">
        OOPS! 
    </h2>
    <div class="Error" align="center">Something went wrong please contact Admin</div>

